<div class="background">
  <div class="genre-button">
    <div class="genre-link">
      <button class="show-button">
        <a class="show-link" id="genres" routerLink="/tv-show">Action/Adventure</a>
      </button>
    </div>
    <div class="genre-link">
      <button class="show-button">
        <a class="show-link" id="genres" routerLink="/tv-show">Biography</a>
      </button>
    </div>
    <div class="genre-link">
      <button class="show-button">
        <a class="show-link" id="genres" routerLink="/tv-show">Comedy</a>
      </button>
    </div>
    <div class="genre-link">
        <button class="show-button">
          <a class="show-link" id="genres" routerLink="/tv-show">Crime</a>
        </button>
      </div>
    <div class="genre-link">
      <button class="show-button">
        <a class="show-link" id="genres" routerLink="/tv-show">Drama</a>
      </button>
    </div>
    <div class="genre-link">
        <button class="show-button">
          <a class="show-link" id="genres" routerLink="/tv-show">Family</a>
        </button>
      </div>
      <div class="genre-link">
          <button class="show-button">
            <a class="show-link" id="genres" routerLink="/tv-show">Fantasy</a>
          </button>
        </div>
    <div class="genre-link">
      <button class="show-button">
        <a class="show-link" id="genres" routerLink="/tv-show">History</a>
      </button>
    </div>
    <div class="genre-link">
        <button class="show-button">
          <a class="show-link" id="genres" routerLink="/tv-show">Horror</a>
        </button>
      </div>
      <div class="genre-link">
          <button class="show-button">
            <a class="show-link" id="genres" routerLink="/tv-show">Mystery</a>
          </button>
        </div>
    <div class="genre-link">
      <button class="show-button">
        <a class="show-link" id="genres" routerLink="/tv-show">Romance</a>
      </button>
    </div>
    <div class="genre-link">
        <button class="show-button">
          <a class="show-link" id="genres" routerLink="/tv-show">Sci-Fi</a>
        </button>
      </div>
      <div class="genre-link">
          <button class="show-button">
            <a class="show-link" id="genres" routerLink="/tv-show">Sport</a>
          </button>
        </div>
        <div class="genre-link">
            <button class="show-button">
              <a class="show-link" id="genres" routerLink="/tv-show">Superhero</a>
            </button>
          </div>
          <div class="genre-link">
              <button class="show-button">
                <a class="show-link" id="genres" routerLink="/tv-show">Thriller</a>
              </button>
            </div>
  </div>
</div>