@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
.navbar {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
    /* position: sticky; */
 }
 
 .navbar li { color: #000 } 
 .navbar navbar-expand-lg center{
     position: sticky;
 }

 .navbar-nav{
    width: 100%;
    text-align: center;
 }

 .navbar-nav li{
    display:inline-block;
    margin: auto;
     width: 200px;
 }
#logo{
    height: 50px;
    width: 40px;
    padding: none;
}
input{
    font-family: geneva;
    font-size: 12px;
    border-style: solid;
    border-color: #26408B;
    border-radius: 5px;
}
.nav-link{
    color: white;
}
.form-inline div input{
    width: 325px;
}

.input-group-prepend,
.input-group-text{
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}
.hashi-link{
    color: #26408B;
    position: relative;
    font-family: damascusmedium;
}
.hashi-link:hover{
    color: #26408B;
    position: relative;
}
#user{
    width: 20px;
    min-height: 20px;
}
#home{
    position: relative;
}
#categories{
    position: relative;


}
#enter{
    color: #26408B;
    position: relative;
    font-family: damascusmedium;
}
#login{
    position: relative;


}
#logged-in{
    position: relative;
}
#account{
    position: relative;
}
#tv-search{
    position: relative;
    margin-right: 30px;


}
.custom{
    border: solid thin #26408B;
    color: white;
    background-color: #26408B;
    transition: all ease-in 300ms;
}

.custom:hover{
    color: #26408B;
    border: solid thin #26408B;
    background-color: white;
}
#search-btn{
    position: relative;
    margin-left: -50px;
    height: 25px;
    width: 55px;
    font-size: 10px;
}